.product__total{
    
    background-color: #0e0b16be;
    width: 100vw;
    
}

.users__total-ul{
    border: 2px solid black;
}
.product__h2{
    display: inline-block;
    position: absolute;
    text-align: center;
    background-color: #f6221783;
    left: 50%;
    border-radius: 50%;
    padding: 20px;
    color: #E7DFDD;
    

}


td, th {
    border: 2px solid black;
    padding: 10px;
    padding-left: 30px;
}
th{
    color: #f6221783;
}
.users__nombres{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    color: #E7DFDD;
}

.btn-bootstrap {
    padding: .375rem .75rem;
    border-radius: .25rem;
    background-color: #f6221783;
    color: #fff;
    transition: background-color .15s ease-in-out;
}

.btn-bootstrap:hover, .btn-bootstrap:focus {
    background-color: #f6221773;
}

.btn-bootstrap:active {
    background-color: #e7f61221;
}